@import 'reset';
body{
  font-family: Arial;
}

.title{
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 100px auto 70px;
}
.pic{
  width: 100%;
  height: 341px;
  background-color: #f0f2f1;
  &:hover{
    background-color: green;
    cursor: pointer;
  }
}
.contacts{
  display: flex;
  & p{
    font-size: 11px;
    font-weight: 300;
    line-height: 27px;
  }
  & p:not(:last-child){
    position: relative;
    margin-right: 40px;
    &:not(:last-child):after{
      content: "";
      position: absolute;
      display: inline-block;
      width: 1px;
      height: 13px;
      margin: 6px 0 0 20px ;
      background-color: #777;
    }
  }

}
.other{
  display: flex;
  justify-content: flex-end;
  & p:last-child{
    margin: 0;
  }

  & p{
    text-transform: uppercase;
    position: relative;
    margin-right: 40px;
    font-size: 11px;
    font-weight: 300;
    line-height: 27px;
    &:not(:last-child):after{
      content: "";
      position: absolute;
      display: inline-block;
      width: 1px;
      height: 13px;
      margin: 6px 0 0 20px ;
      background-color: #777;

    }
  }
}

.heading{
  font-size: 34px;
  font-weight: 700;
  display: block;
  &--title::after{
    content: ".";
    color: red;
  }
}

.links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  & a{
    display: block;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 70px;
    text-transform: uppercase;
    color:#000;

  }
}
.icons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  & i{
    display: block;
    margin-left: 40px;
    position: relative;
    &:not(:first-child):after{
      content: "3";
      padding-top: 3px;
      position: absolute;
      display: inline-block;
      font-size: 10px;
      text-align: center;
      width: 16px;
      height: 16px;
      background-color: #ff5353;
      border-radius: 50%;
      top: -7px;
      left: 10px;
      color: white;
      font-family: Arial;

    }

  }
}


.banner{
  height: 720px;
  display: flex;
  align-items: center;
  text-align: center;
  &--wrapper{
    background-image: url("../img/BG.png");
    background-position-y: -90px;
    background-repeat: no-repeat;
    background-size: cover;

  }
  &--text{
    color: #565656;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
  }
  &--title{
    font-size: 60px;
    font-weight: 500;
    line-height: 70px;
    color: #000;
  }
  &--buttom{
    width: 170px;
    height: 50px;
    border-radius: 3px;
    background-color: #ff5353;
    display: block;
    margin: 50px auto 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    padding: 15px 0 0;
    &:hover{
      text-decoration: none;
      color: white;
    }



  }
}

.featured_product{
  text-align: center;
  &--price{
    margin: 50px 0 70px;
  }
  .img{
    width: 100%;
    height: 451px;
    background-color: #f0f2f1;
    &:hover{
      content: "";
      background-color: red;
      }
    }
}
.banner2{
  height: 630px;
  text-align: center;
  display: flex;
  align-items: center;
  &--wrapper{
    background-color: #f6f6f6;
    background-image: linear-gradient(90.0deg, #e9e1d8 0%, #f7f2eb 50%, #e4dacf 100%);
  }
  &--heading{
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2a2a2a;
    margin-bottom: 20px;
  }
  &--text{
    font-size: 42px;
    font-weight: 300;
    text-transform: uppercase;
    color: #4a4a4a;
  }

}

.most_popular{
  text-align: center;
  &--price{
    margin: 50px 0;
  }
  & .dots{
    display: flex;
    margin: 0 auto;
    & div{
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background-color: #c6b5a1;
      margin: 0 10px;
      &:hover{
        background-color: #ff5353;
        cursor: pointer;
      }
    }
  }
}

.pluses{
  margin: 100px auto;


  &--part{
    text-align: center;
    border: 1px solid #ebeef0;;



    & img{
      margin: 20px auto;
    }
    & h2{
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
      color: #000000;
      line-height: 30px;
    }
    & p{
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.025em;
      color: #888888;
      margin-bottom: 30px;
    }
  }

}

.trending_products{
  text-align: center;
  &--price{
    margin: 50px 0;
  }

}
.silon_journal{
  &--part{
    margin-bottom: 20px;
  }
  & p{
    margin: 30px 0 12px;
    font-size: 13px;
    line-height: 27px;
    font-weight: 400;
    color: #888888;
    &:before{
      content: "";
      display: inline-block;
      width: 12px;
      height: 6px;
      background-color: #ff5353;
      border-radius: 2px;
      margin: 0 10px 2px 0;
    }
  }
 & h2{
   font-size: 20px;
   line-height: 30px;
   font-weight: 700;
   color: #000000;
 }
  & hr{
    width: 100%;
    background-color: #888;
    margin: 30px 0;

  }
  & span:not(:last-child):before {
    content: "";
    display: inline-block;
    background-image: url("../img/first.png");
    height: 14px;
    width: 14px;
    margin-right: 10px;

  }

  & span:last-child:before{
    content: "";
    display: inline-block;
    background-image: url("../img/second.png");
    height: 14px;
    width: 14px;
    margin: 0 10px 0 20px;
  }
  & .image{
    width: 100%;
    height: 350px;
    background-color: #afafaf;
  }
}

.follow_us{
  & .image{
    width: 100%;
    height: 250px;
    background-color: #9a9a9a;
    &:hover{
      background-color: #ff5353;
      background-image: url("../img/instagram.png");
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;

    }
  }
}

.footer {
  margin-top: 100px;

  & i {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    text-align: center;
    padding-top: 8px;
    margin-right: 10px;
    &:hover {
      background-color: #ff5353;
      color: white;
      cursor: pointer;
    }
  }

  &--wrapper {
    background-color: #000000;
    background-image: linear-gradient(90.0deg, #e9e1d8 0%, #f7f2eb 50%, #e4dacf 100%);
  }

  & a {
    display: block;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #888888;
    align-self: center;

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }

  & h3 {
    font-size: 16px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    padding: 30px 0;

    &:last-child {
      padding: 0 0 40px 0;
    }
  }

  .change {
    padding: 0 0 30px 0;
  }

  .buttoms {
    display: flex;

    .buttom2 {
      display: flex;
      justify-content: center;
      width: 130px;
      height: 49px;
      background-color: #ff5353;
      border-radius: 3px;
      margin-left: 10px;

      img {
        align-self: center;
      }

      span:first-child {
        font-size: 10px;
        font-weight: 400;
        text-transform: uppercase;
        color: #4a4a4a;
      }

      span:last-child {
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        color: #000000;
      }

      a {
        line-height: 14px;
        padding-left: 10px;
      }
    }

    .buttom1 {
      display: flex;
      justify-content: center;
      width: 130px;
      height: 50px;
      background-color: #ffffff;
      border-radius: 3px;

      img {
        align-self: center;
      }

      span:first-child {
        font-size: 10px;
        font-weight: 400;
        text-transform: uppercase;
        color: #4a4a4a;

      }

      span:last-child {
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        color: #000000;
      }

      a {
        line-height: 14px;
        padding-left: 10px;
      }
    }
  }

  .right {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #888888;
    margin-bottom: 20px;

    span {
      color: #ff5353;
    }
  }
}





